@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: white;
  margin: 0px;
  padding: 10px;
}

.intro {
  background-color: #e9ecef;
  padding: 160px 0px 80px;
  position: relative;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px calc(100% - 5vw));
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
